.menu {
	width: 0;
	overflow: hidden;
	position: fixed;
	left: 0;
	background-color: #D7CEC7;
	height: 100%;
	transition: width .5s;
}
.menu.open {
	width: 300px;
	transition: width .5s;
}
.menu ul {
	padding: 0;
	margin: 0;
}
.menu ul li {
	display: block;
	border-top: solid 1px #FFF;
	font-weight: bold;
	padding: 10px;
	font-weight: bold;
	color: #76323F;
	border-top: solid 1px #000;
	cursor: pointer;
}
